body{
	font-family: 'Lato', sans-serif;
    background: #4C687B;
    padding: 4% 0 0;
}
a,a:hover{
	text-decoration:none;
}
img{
	max-width:100%;
}
/* ------------------------------------------------Start header_top --------------------------------- */
.navbar {
    border-radius: 0;
}
.navbar-brand {
  background: none repeat scroll 0 0 #56ccc8;
  width: 55px; 
  height: 100%;
  outline: none;
}
.navbar-brand:hover, .navbar-brand:focus{
    background: none repeat scroll 0 0 #56ccc8 !important;
    outline: none;
}
#aln_justify {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
#navigation_left li a {
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
#navigation_left li a, #search_icon, #social_icone, #user_icon{
    -webkit-transition: color 0.3s linear 0s;
    -moz-transition: color 0.3s linear 0s;
    -o-transition: color 0.3s linear 0s;
    -ms-transition: color 0.3s linear 0s;
    transition: color 0.3s linear 0s;
}
#border {
  border-left: 1px solid #dde2e4;
  border-right: 1px solid #dde2e4;
}
#navigation_right li a{
    outline: none;
}
#navigation_right li a:hover, #navigation_right li a:focus, #social_icone:hover, #social_icone:focus, #user_icon:hover, #user_icon:focus, #search_icon:hover,#search_icon:focus, #navigation_left li a:hover, #navigation_leftli a:focus, #active{
    color: #56CCC8;
    outline: none;
    -webkit-transition: color 0.3s linear 0s;
    -moz-transition: color 0.3s linear 0s;
    -o-transition: color 0.3s linear 0s;
    -ms-transition: color 0.3s linear 0s;
    transition: color 0.3s linear 0s;
}

#search_icon {
  color: #b4bbbf;
  font-size: 18px;
  font-weight: 100;
  padding-right: 10px;
  padding-left: 10px;
}

#social_icone {
  font-size: 17px;
  color: #B2B9BD;
  padding: 0 12px;
  line-height: 19px;
}
#user_icon{
    font-size: 17px;
    color: #B2B9BD;
    line-height: 19px;
    padding-left: 10px;
}

/* ----end header_top ---- */

/* ---------------------------------------------------  start first_section --------------------------------- */


/*----start left_section ---- */

.left_section {
  margin-left: 0%;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%
}
.menus_2{
    padding-right: 0 !important;
}

/* ---- menus_2_contents ---- */
.menus_2_contents {
  background: #FFFFFF;
}
.toggle{
}
#items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#items ul li {
  border-bottom: 1px solid #dde2e4;
  height: 60px;
  position: relative;
  width: 100%;
  background: #fff;
}
#items ul li a {
  color: #636a6e;
  font-size: 15px;
  height: auto;
  padding: 19px 15px;
  position: absolute;
  width: 100% !important;
  background: #fff;
}
#items ul li a:hover, #items ul li a:focus, #items ul li a:hover #i_icon{
    background: #E6E6E6;
    color: #56CCC8;
}
#items ul li a, #i_icon, #items ul li a:hover, #items ul li a:focus, #items ul li a:hover #i_icon{
    -webkit-transition:background 0.3s linear 0s, color 0.3s linear 0s;
    -moz-transition:background 0.3s linear 0s, color 0.3s linear 0s;
    -o-transition:background 0.3s linear 0s, color 0.3s linear 0s;
    -ms-transition:background 0.3s linear 0s, color 0.3s linear 0s;
    transition:background 0.3s linear 0s, color 0.3s linear 0s;
}
#i_icon {
  color: #c5cdd1;
  font-size: 17px;
  line-height: 17px;
  margin: 0 15px 0 0;
}
#items ul li:last-child{
    border-bottom: 0;
}

/* ---- menus_2_address ---- */
.contact-details {
  background: none repeat scroll 0 0 #c5cdd1;
}
#details {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#details li {
  display: block;
  overflow: hidden;
  padding: 0 0 23px 25px;
}
#details li:first-child{
    padding-top: 25px;
}
#cd-icon {
  color: #fff;
  float: left;
  font-size: 20px;
  line-height: 20px;
  width: 15%;
}
#cd {
  float: left;
  text-align: left;
  width: 80%;
}
#cd p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  margin: 0;
  position: relative;
  top: -3px;
}

/* ---- imp_links ----*/

.imp_links {
  padding-left: 0 !important;
}

/*---- content ---- */

#content{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#contentsub{
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#content li {
  background: none repeat scroll 0 0 #152840;
  border-bottom: 1px solid #49627D;
}

#content li, #content li:hover, #content li:focus, #curent{
    -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

#content_main {
  padding: 25.5px 25px 26px;
}
#content li:hover, #content li:focus{
    background: #263A54;
}
#content li:last-child{
    border-bottom: none;
}
#content li a{}
#content li a:hover, #content li a:focus{}
#curent{
    background: #263A54 !important;
}
#s-hd {
  color: #56ccc8;
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  text-align: left;
  float: left;
  width: 100%;
  padding: 10px 0;
}
#shd-icon {
  color: #56CCC8;
  font-size: 20px;
  line-height: 21px;
  float: right;
}
#contentsub li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  margin: 0;
  padding: 0;
}
#contentsub li a {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
#contentsub li a:hover, #contentsub li a:focus{}

/* ---- right_sectiont */

.s_right{
  padding-left: 0;
}
.right_section{
    margin-right: 0%;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* ---- right_section_part_1 ----*/


/*---- s_list  ---- */
.s_list {
  padding-right: 0;
}
#s_list_left {
  background: none repeat scroll 0 0 #fff;
  display: block;
  height: 303px;
  overflow: hidden;
  padding: 26px;
  width: 100%;
}
#s_list_right {
  display: block;
  height: 303px;
  overflow: hidden;
  width: 100%;
}
#listsocial {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#listsocial li {
  padding-bottom: 25px;
}
#listsocial li:first-child{}
#listsocial li:last-child{
    padding-bottom: 0;
}
#listsocial li a {
  color: #6a7175;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 16px;
}
#listsocial li a:hover, #listsocial li a:active{
    color: #56CCC8;
}
#listsocial li a:hover #con{
    background: #56CCC8;
}
#dol{
    color: #56CCC8 !important;
}
.twt{
    background: #56CCC8 !important;
}
#con {
  background: none repeat scroll 0 0 #c5cdd1;
  border-radius: 100%;
  color: #fff;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  text-align: center;
  width: 30px;
}
.fb{}
.twt{}
.gplus{}
.rss{}
.pntst{}

/* ---- s_sub_right ---- */
#facbook, #twitor {
  display: block;
  overflow: hidden;
  padding: 0 20px;
}
#facbook:hover{
    background: #5971c2;
}
#facbook {
  background: none repeat scroll 0 0 #4d6baa;
  margin-bottom: 5%;
  cursor: pointer;
}
.twitor{}
#facbook, #twitor, #facbook:hover, #twitor:hover{
    -webkit-transition:background 0.3s linear 0s;
    -moz-transition:background 0.3s linear 0s;
    -o-transition:background 0.3s linear 0s;
    -ms-transition:background 0.3s linear 0s;
    transition:background 0.3s linear 0s;
}
#twitor:hover{
    background:#69ccdc; 
}
#twitor {
  background: none repeat scroll 0 0 #56ccc8;
  cursor: pointer;
}
.t-type {
  padding: 26px 0 36.4px;
}
#t-icon {
  color: #fff;
  font-size: 37px;
  line-height: 50px;
}
.kb {
  color: #fff;
  float: left;
  font-size: 15px;
  text-align: left;
  width: 50%;
}
.follow{
  font-size: 15px;
  color: #fff;
  width: 50%;
  float: right;
  text-align: right;
}
.ios {
  font-size: 20px;
  left: 9px;
  position: relative;
  top: 4px;
}

/*---- right_section_part_2 */
.sign_in {
  background: none repeat scroll 0 0 #fff;
  display: block;
  margin-top: 2%;
  overflow: hidden;
  padding: 15px;
}
.ps-header {
  text-align: center;
}
.ps-header h3 {
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  line-height: 40px;
  margin: 0;
}
.ps-header p {
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#ps-social {
  list-style: outside none none;
  margin: 25px auto 0;
  padding: 0;
}
#ps-social li {
  float: left;
  padding-right: 2%;
}
#ps-social li:last-child{
    padding-right: 0;
}
#ps-social > li:first-child {
  margin-left: 33%;
}
#ps-social li a{}
#ps-social li a:hover, #ps-social li a:focus{}
#mos {
  font-size: 18px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #787878;
  line-height: 35px;
  text-align: center;
}
.psfb{
    background: #4D6BAA !important;
}
.pstwt{
    background: #4FC6F8 !important;
}
.psgplus{
    background: #EA6060 !important;
}
.psin{
    background: #238CC8 !important;
}

/* ---- right_section_part_3*/
.news-letter {
  background: none repeat scroll 0 0 #fff;
  display: block;
  margin-top: 1.5%;
  overflow: hidden;
  padding: 14px;
}
#mc_embed_signup div.mce_inline_error {
  display: none !important;
}
.news-header {
  text-align: center;
  margin-bottom: 30px;
}
.news-header h3{
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 27px;
  line-height: 40px;
  margin: 0;
}
.news-header p{
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.right_section_part_3 .btn-default {
    color: #fff;
    background-color: #ea6060;
    border-color: #ea6060;
    border-radius: 0;
    padding: 8px 13px;
    font-size: 13px;
}
.right_section_part_3 .form-control {
    font-size: 14px;
    height: 38px;
}


/*--------------------------------------------------------Start slider_area -------------------------------- */
#slider_area{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
#slider_area .item img{
    width:100%;
}
.carousel-caption {
    left: 9%;
    padding-bottom: 30px;
    right: 9%;
    text-align: left;
    bottom: 265px;
}
.carousel-inner {
    height: 437px;
}
.carousel-control {
    bottom: 0;
    font-size: 20px;
    height: 50%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    width: 15%;
}
.carousel-control.right,.carousel-control.left {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}
.carousel-control.left {
    right: auto;
    left: 0;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}
.left-indicator {
  left: 0;
  top: 99%;
  position: absolute;
}
.right-indicator {
  right: 0;
  top: 99%;
  position: absolute;
}
#slider-header h2 {
  font-size: 46px;
  margin: 0 0 7px;
  line-height: 53px;
  color: #fff;
}
#slider-header p {
  color: #fff;
  font-size: 14px;
  line-height: 23px;
}
#view {
  background: none repeat scroll 0 0 transparent;
  border-radius: 0;
  color: #fff;
}

/* -------------------------------------------------Start secound_section ------------------------------------*/

/* ---- video_area_1 ---- */
.video_area_1{
  padding-right: 0;
}
.tube_text {
  background: none repeat scroll 0 0 #fff;
  display: block;
  height: 300px;
  overflow: hidden;
  padding: 50px 24px 40px 95px;
  position: relative;
  width: 100%;
}
.tube-header h2 {
  color: #4f575c;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 28px;
  margin: 0;
  padding-bottom: 6px;
}
.video_area_1 p {
  color: #4f575c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  line-height: 19px;
}
.ago {
  color: #c1c1c1;
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 55px;
}

#readmore{
    font-size: 14px;
    color: #EA6060;
}
#video-icon {
  background: none repeat scroll 0 0 #ea6060;
  color: #fff;
  font-size: 20px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 50px;
}

/******* ---- video_area_2Style ---- *******/
.video_area_2{
  padding-left: 0;
}
.tube_video_area {
  display: block;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}
#subscribe {
  background: none repeat scroll 0 0 #1f3045;
  display: block;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 15%;
}
#subscribe ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#subscribe ul li{}
#subscribe ul li:first-child{}
#subscribe ul li:last-child {
  padding-bottom: 2px;
}
#subscribe ul li a{
    text-align: center;
}
#subscribe ul li a:hover, #subscribe ul li a:focus{}
.text {
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 23px 0;
}
#tube_icon {
  font-size: 30px;
}
#tube_icon:hover {
  color: #EA6060;
}
#tube-video {
  display: block;
  height: 300px;
  overflow: hidden;
  width: 85%;
}
#frame {
  width: 100%;
  height: 100%;
}

/* ----End secound_section ----*/

/*-----------------------------------------------Start third_section ------------------------------------------ */
#third_section .container{
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.instragram-total{
  display: block;
  height: 274px;
  overflow: hidden;
  width: 100%;
}

.heart_share_main {
  background: none repeat scroll 0 0 #1f3045;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 104px 78px;
  width: 100%;
}
#share-p{
  width: 45%;
  float: left;
}
#heart-p{
  width: 45%;
  float: left;
}
.heart-share p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding: 0 8% 0 12%;
  text-align: center;
}
#heartshrare {
  font-size: 30px;
}
.share-o{
    color: #fff;
}
.heart-o{
    color: #EA6060;
}

/* ---- instagram_wrap  ----*/
.left-point {
  padding-right: 0;
}
.right-point {
  padding-left: 0;
}
.instagram_wrap {
  padding-left: 0;
}
.instagram_main {
  background: none repeat scroll 0 0 #fff;
  display: block;
  overflow: hidden;
  padding: 46px 30px 30px 95px;
  position: relative;
  width: 100%;
}
.instagram_right{
  background: none repeat scroll 0 0 #787878;
  display: block;
  height: 275px;
  overflow: hidden;
  width: 100%;
}
.instagram{}
.instagram h2 {
  color: #4f575c;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 28px;
  margin: 0;
}
.instagram span {
  color: #c1c1c1;
  display: block;
  font-size: 14px;
  margin-bottom: 35px;
}
.instagram_main p {
  color: #4f575c;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
#read{
    font-size: 14px;
    color: #EA6060;
}
#camera {
  background: none repeat scroll 0 0 #4bc7c7;
  color: #fff;
  font-size: 22px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 38px;
  width: 50px;
}

/*----------------------------------------------- Start fourth_section----------------------------------------- */
#fourth_section{
    
}

/* ---- fourth_section_left ---- */
#fourth_section_left{}

.fourth_section_left_1, .fourth_section_left_2, .fourth_section_left_3 {
  margin-bottom: 20px;
}
/* ---- fourth_section_left_1 ---- */
#alex-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#alex-list li {
  background: none repeat scroll 0 0 #4fc6f8;
  border-bottom: 1px solid #7BD4FA;
}
#alex-list li:hover{}
#alex-list li:last-child{
    border-bottom: none;
}
#alex-list li a{}
#alex-list li a:hover, #alex-list li a:focus{}

.alex-header {
  padding: 18px 0;
}
.alex-header h3 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  line-height: 35px;
  margin: 0;
  text-align: center;
}
.alex-header span {
  font-size: 18px;
}
#alex {
  font-size: 25px;
  padding-left: 20%;
}
.adc {
  padding: 25px 25px 25px 10%;
  text-align: left;
}
.adc p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-bottom: 50px;
}
.adc p strong{}
.hour {
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 17px;
}

/******* ---- View-stories Style ---- *******/
.view-st{}
.view-stories {
  background: none repeat scroll 0 0 #ea6060;
  display: block;
  overflow: hidden;
  padding: 14% 24% 10%;
}
.view-header{}
.view-header h2 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 100;
  margin: 0;
  line-height: 46px;
}
#view-icon {
  color: #fff;
  font-size: 36px;
  line-height: 25px;
  padding-top: 30px;
}

/* ---- fourth_section_left_2 ----*/
.whats-hot {
  background: none repeat scroll 0 0 #fff;
}
.what-header {
  border-bottom: 1px solid #c7c7c7;
  padding: 20px 0;
}
.whats-hot h3 {
  color: #475055;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-left: 20px;
}
/*-------------OWL Carousel------------*/
.owl-theme .owl-controls {
    position: absolute;
    bottom: 104%;
    left: 75%;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-theme {
  padding: 15px 15px 15px 20px;
}
.media {
  margin-bottom: 10px !important;
  overflow: hidden;
  display: block;
}
.media-left {
  float: left;
  width: 25%;
}
.media-object {
  height: 60px !important;
  width: 60px !important;
}
.media-heading {
  color: #4c5559;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 5px;
}
#owl-ago {
  color: #a3abaf;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
}


/* ---- fourth_section_left_3 ----*/
.question {
  background: none repeat scroll 0 0 #fff;
  display: block;
  overflow: hidden;
  padding: 20px 30px 30px;
}
.ques-header > h2 {
  color: #475055;
  font-size: 31px;
  line-height: 42px;
  margin: 0 0 20px;
}
.form-control {
  border-radius: 0;
  color: #ccc;
  font-size: 19px;
  font-weight: 100;
  height: 46px;
  padding: 10px;
}
.btn.btn-danger {
  font-size: 17px;
  padding: 8px 20px;
  text-transform: uppercase;
  border-radius: 0;
}


/*---- fourth_section_right_1 ----*/

/*--------------------Start calendar------------------*/

/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0 auto;
	padding: 0;
	border: none;
	border-spacing: 0;
}

/* Calendar Wrapper */
.ui-datepicker {
  background: none repeat scroll 0 0 #263a54;
  cursor: default;
  display: none;
  font-family: Tahoma;
  font-size: 12px;
  height: 284px;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
thead {
  display: none!important;
}

/* Calendar Header */
/*.ui-datepicker-header {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
}*/
.ui-datepicker-header {
  background: none repeat scroll 0 0 #152840;
  border-bottom: medium none;
  padding: 28px 0;
  position: relative;
  width: 100%;
  margin-bottom: 7%;
}
.ui-datepicker-title { text-align: center; }

/* Month */
/*.ui-datepicker-month {
	position: relative;
	padding-right: 15px;
	color: #565656;
}*/
.ui-datepicker-month, .ui-datepicker-year {
  color: #fff;
  font-family: "Ubuntu Condensed",sans-serif;
  font-size: 21px;
  line-height: 28px;
}
.ui-datepicker-month {
  padding-right: 3px;
  position: relative;
}
.ui-datepicker-year {
  padding-left: 0;
}
/*.ui-datepicker-month:before {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 5px;
	height: 5px;
	content: '';

	background: #a5cd4e;
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}*/

/* Year */
/*.ui-datepicker-year {
	padding-left: 8px;
	color: #a8a8a8;
}*/


/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	/*top: -2px;*/
	top: 18%;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 15px;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 15px;
	padding-right: 0;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
  display: block;
  height: 15px;
  position: relative;
  text-indent: -9999px !important;
  top: 15px;
  width: 15px;
}
.ui-datepicker-next span {
  background: url("../images/cright.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  /*right: 15px;*/
}

.ui-datepicker-prev span {
	background: url("../images/cleft.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ui-datepicker-calendar th {
	padding-top: 15px;
	padding-bottom: 10px;
	
	text-align: center;
	font-weight: normal;
	/*color: #a8a8a8;*/
	color: #4FC4F6;
}

.ui-datepicker-calendar td {
  border: 1px solid #53667d;
  line-height: 26px;
  text-align: center;
  width: 51px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	outline: none;

	text-decoration: none;
	color: #a8a8a8;
	
	border: 1px solid transparent;
}

/* Day Active State*/
/*.ui-datepicker-calendar .ui-state-active {
	color: #6a9113;
	border-color: #6a9113;
}*/
.ui-datepicker-calendar .ui-state-active {
  background: none repeat scroll 0 0 #ea6060;
  border-radius: 0;
  color: #fff;
}
/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default {
  color: #565656;
  display: none;
}
/*--------------------End calendar------------------*/
.fourth_section_right_1, .fourth_section_right_2, .fourth_section_right_3, .fourth_section_right_4{
    margin-bottom: 20px;
}
.dome {
  padding: 0;
}

/* ---- fourth_section_right_2 ----*/
.pick-new {
  padding-left: 0;
}
.dual-box{}
.box-1 {
  background: none repeat scroll 0 0 #787878;
  display: block;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#sub {
  background: url("../images/new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 127px;
  position: absolute;
  width: 127px;
  background-size: 60% 60%;
  top: 0px;
  left: 0;
}

.box-2 {
  background: none repeat scroll 0 0 #fff;
  display: block;
  overflow: hidden;
  padding: 50px 0 35px 70px;
  position: relative;
}
.box-2-header {
  float: right;
  width: 92%;
  padding-right: 6%;
}
.box-2-header h2 {
  color: #4b5459;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  padding-bottom: 16px;
}
.box-2-header p {
  color: #4b5459;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 50px;
}
#info {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 0 8%;
  width: 100%;
}
#info li {
  float: left;
  padding: 0 22px 0 0px;
}
#info li:last-child{
    padding-right: 0;
}
#info li a {
  color: #4b5459;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 15px;
}
#info li a:hover, #info li a:focus{}
#info-icon {
  color: #4bc7c7;
  padding-right: 8px;
  font-size: 16px;
  line-height: 17px;
}
#on-icon {
  background: none repeat scroll 0 0 #4bc7c7;
  color: #fff;
  font-size: 18px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 50px;
}

/*---- fourth_section_right_3 ---- */
.fourth_section_right_3{
    
}
.quote {
  padding-left: 0;
}
.block-quote {
  background: none repeat scroll 0 0 #fff;
  display: block;
  overflow: hidden;
  padding: 35px 3px 30px 85px;
  position: relative;
}
.block-quote blockquote {
  border-left: medium none;
  margin: 0;
}
.block-quote p {
  color: #4b5459;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 33px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0;
}
#quote-icon {
  background: none repeat scroll 0 0 #4bc7c7;
  color: #fff;
  font-size: 22px;
  height: 50px;
  left: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 50px;
}

/*---- fourth_section_right_4 ----*/
.fourth_section_right_4 .nav>li>a {
    padding: 17px 50px;
}
.tab-pan {
  padding-left: 0;
}
#tab-panel {
  background: none repeat scroll 0 0 #fff;
}
#tb-left, #tb-right {
  padding: 63px 10px 20px 30px;
}
.media-body h4 {
  margin: 0;
  color: #475055;
  font-size: 18px;
  line-height: 25px;
}
.media-body > p {
  color: #999999;
  font-size: 17px;
  font-weight: 100;
  line-height: 21px;
  margin: 0;
  padding: 7px 0 0;
}
.media-body > p.pg {
  color: #475055;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 40px 0 18px 0;
}
.media-body > span {
  color: #4bc7c7;
  font-size: 16px;
  font-weight: 100;
}